* {padding: 0; margin: 0;}

header {
    display: grid;
    grid-template-rows: 6fr 1fr;
}

.offers {
    background:rgba(11,145,242,1);
}

/* стили основного контейнера слайдера */
.slider {
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

/* стили для обёртки, в которой заключены слайды */
.slider__wrapper {
    position: relative;
    overflow: hidden;
}

/* стили для контейнера слайдов */
.slider__items {
    display: flex;
    transition: transform 0.6s ease;
}

/* стили для слайдов */
.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
}

.slider__item > .box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url(../storage/image/1.jpg) no-repeat center center;
    background-size: cover;
    height: 25rem;
}
.slider__item > .box > div{
    padding: 3%;
    margin: 3%;
}

/* стили для кнопок "вперед" и "назад" */
.slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
}

.slider__control_show {
    display: flex;
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
}

.slider__control_prev {
    left: 0;
}

.slider__control_next {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* стили для индикаторов */
.slider__indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.slider__indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.slider__indicators li.active {
    background-color: #fff;
}

/* для стилизации текущего слайдера */
.img-fluid {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.menu {
    background:#007bff;

    display: grid;
    grid-template-columns: 3fr repeat(8, 2fr);
    grid-column-gap: 1%;
}

.btn{
    background: none;
    border: none;
    position: relative;
    font-weight: bold;
    color: rgb(247, 245, 245);
    letter-spacing: 3px;
    cursor: pointer;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.btn2 {
    height: 45px;
    padding: 0;
    color: #fff;
    background: #198bca;
    margin: 10px 0 0;
    border: none;
    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.btn:after {
    content: "";
    background: #250ddff1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -50px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

h1{
    color: #00a2ff;
    font-size:28px;
}



.box > div{
    color: rgb(247, 245, 245);
}

.box1 {
    background: url(../storage/image/3.jpg) no-repeat center center;
    background-size: cover;
}

.box2 {
    background: url(../storage/image/2.jpg) no-repeat center center;
    background-size: cover;
}
.box3 {
    background: url(../storage/image/2.jpg) no-repeat center center;
    background-size: cover;
}
.box4 {
    background: url(../storage/image/3.jpg) no-repeat center center;
    background-size: cover;
}
.box5 {
    background: url(../storage/image/2.png) no-repeat center center;
    background-size: cover;
}
.box6 {
    background: url(../storage/image/4.jpg) no-repeat center center;
    background-size: cover;
}

.box7 {
    background-color: white;
}

footer {
    padding: 3%;
    background:#007bff;
}
