
.btn{
    background: none;
    border: none;
    position: relative;
    font-weight: bold;
    color: rgb(247, 245, 245);
    letter-spacing: 3px;
    cursor: pointer;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.btn2 {
    height: 45px;
    padding: 0;
    color: #fff;
    background: #198bca;
    margin: 10px 0 0;
    border: none;
    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.btn:after {
    content: "";
    background: #250ddff1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -50px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

h1{
    color: #00a2ff;
    font-size:28px;
}



.box > div{
    color: rgb(247, 245, 245);
}

.box1 {
    background-size: cover;
}
